/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
    width: auto;
}

.form-signin {
    width: 100%;
}

header {
    height: 100px;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top: 25px;
        width: 228px;
    }

    #sidebar.affix {
        position: fixed;
        top: 25px;
        width: 228px;
    }
}

.affix, .affix-top {
    position: static;
}

.list-group {
    margin-top: 25px;
}

.logout {
    margin-top:40px;
}

textarea { resize: vertical; }

