<!DOCTYPE html>
<html ng-app="destytojoSasaja">
<head>
    <title>Kalendorius</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
</head>
<body>

<header>
    <div class="container" ng-controller="prisijungimo">
        <div class="row">
            <div class="col-md-6">
                <h1><a href="#"> Dėstytojo Kalendorius</a>
                    <p class="lead">Internetinė Studento Kalendoriaus versija</p>
                </h1>
            </div>
            <div class="col-md-6">
                <div class="pull-right hidden-sm" ng-if="prisijunges">
                    <button class="btn btn-primary logout" ng-click="atsijungti()"> {{vardas}} -  Atsijungti</button>
                </div>
                <div class="pull-right hidden-sm" ng-if="!prisijunges">
                    <a href="#/registruotis" class="btn btn-primary logout" role="button">Registruotis</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" id="sidebar">
                <a href="#/" class="list-group-item">
                    Kalendorius
                </a>
                <a href="#/pranesimai" class="list-group-item">Pranešimai
                </a>
                <a class="list-group-item">Pažymiai
                </a>
                <a href="#/apklausos" class="list-group-item">Apklausos
                </a>
            </div>
        </div>

        <div class="col-md-9" ng-view="">


        </div>


    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/angular.js"></script>
<script src="/js/angular-route.js"></script>
<script src="/js/angular-cookies.js"></script>
<script src="/js/angular-sanitize.js"></script>
<script src="/js/angular-resource.js"></script>
<script src="/js/ui-bootstrap-0.12.0.js"></script>
<script src="/js/spin.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/loading.js"></script>

<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

<script src="/scripts/app.js"></script>
</body>
</html>