<form class="form-horizontal" ng-submit="prideti()">
    <fieldset>

        <!-- Form Name -->
        <legend>Sukurti apklausą</legend>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Gavėjai</label>

            <div class="col-md-4">
                <select id="selectbasic" name="selectbasic" class="form-control"
                        ng-model="pranesimas.destytojoGrupesDto"
                        ng-options="sukonstruokPavadinima(grupe.kursas, grupe.grupe, grupe.pogrupis) for grupe in grupes">
                </select>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textarea">Tekstas</label>

            <div class="col-md-4">
                <textarea class="form-control" id="textarea" name="textarea" ng-model="pranesimas.tekstas"></textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <div class="col-md-12">
                <button id="prideti" name="prideti" class="btn btn-primary pull-right">Pridėti</button>
            </div>
        </div>

    </fieldset>
</form>
<a class="btn btn-primary pull-right" ng-click="visosApklausos()">Peržiūrėti visas<i
        class="icon-plus-sign icon-white"/>
</a>