<h2>{{dienosDuomenys.diena}} <a class="btn btn-primary pull-right" ng-click="atidaryk()"><i
        class="icon-plus-sign icon-white"></i> Pridėti papildomą veiklą</a></h2>
<a class="btn btn-primary pull-right" ng-click="pridetiKontrolini()"> Pridėti kontrolinį </a>
<span us-spinner></span>
<table class="table table-hover">
    <caption>Paskaitos</caption>
    <tr>
        <th>
            Laikas
        </th>
        <th>
            Pavadinimas
        </th>
        <th>
            Kabinetas
        </th>
    </tr>
    <tr ng-repeat="paskaita in dienosDuomenys.paskaitos" class="info">
        <td>{{paskaita.laikas}}</td>
        <td>
            {{paskaita.pavadinimas}}
        </td>
        <td>
            {{paskaita.kabinetas}}
        </td>
    </tr>
</table>
<table class="table table-hover">
    <caption>Papildomos Veiklos</caption>
    <tr>
        <th>
            Laikas
        </th>
        <th>
            Veikla
        </th>
        <th>
            Detalės
        </th>
    </tr>
    <tr ng-repeat="veikla in dienosDuomenys.pasirinktinesVeiklos" class="success">
        <td>{{veikla.laikas.time.hour}}:{{veikla.laikas.time.minute | numberFixedLen:2}}</td>
        <td>
            {{veikla.veikla}}
        </td>
        <td>
            {{veikla.detales}}
        </td>
    </tr>
</table>

<table class="table table-hover">
    <caption>Kontroliniai</caption>
    <tr>
        <th>
            Laikas
        </th>
        <th>
            Detalės
        </th>
        <th>
            Paskaitos Pavadinimas
        </th>
        <th>
            Kabinetas
        </th>
    </tr>
    <tr ng-repeat="kontrolinis in dienosDuomenys.kontroliniai" class="warning">
        <td>{{kontrolinis.laikas.time.hour}}:{{kontrolinis.laikas.time.minute | numberFixedLen:2}}</td>
        <td>
            {{kontrolinis.paskaitosPavadinimas}}
        </td>
        <td>
            {{kontrolinis.detales}}
        </td>
        <td>
            {{kontrolinis.kabinetas}}
        </td>
    </tr>
</table>