<form role="form" ng-submit="prideti()">
    <div class="modal-header">
        <h3 class="modal-title">Pridėti Veiklą</h3>
    </div>
    <div class="modal-body">
        <div ng-show="klaida" class="alert alert-danger">Nepavyksta pridėti!</div>
        <label for="metai" class="sr-only">Metai</label>
        <input type="text" id="metai" class="form-control" placeholder="Metai" required="true" autofocus=""
               ng-model="veikla.metai">

        <label for="menuo" class="sr-only">Laikas</label>
        <input type="text" id="menuo" class="form-control" placeholder="Mėnuo" required="true"
               ng-model="veikla.menuo">

        <label for="diena" class="sr-only">Laikas</label>
        <input type="text" id="diena" class="form-control" placeholder="Diena" required="true"
               ng-model="veikla.diena">

        <label for="valandos" class="sr-only">Laikas</label>
        <input type="text" id="valandos" class="form-control" placeholder="Valandos" required="true"
               ng-model="veikla.valandos">


        <label for="veikla" class="sr-only">Veikla</label>
        <input type="text" id="veikla" class="form-control" placeholder="Veikla" required="true"
               ng-model="veikla.veikla">

        <label for="detales" class="sr-only">Detalės</label>
        <textarea type="text" id="detales" class="form-control" placeholder="Detalės" required="true"
               ng-model="veikla.detales"/>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">OK</button>
        <button class="btn btn-warning" ng-click="cancel()" type="button">Atšaukti</button>
    </div>
</form>
