<form role="form" ng-submit="prideti()">
    <div class="modal-header">
        <h3 class="modal-title">Pridėti Kontrolinį</h3>
    </div>
    <div class="modal-body">
        <div ng-show="klaida" class="alert alert-danger">Nepavyksta pridėti!</div>

        <select id="selectbasic" name="selectbasic" class="form-control"
                ng-model="kontrolinis.grupesDto"
                ng-options="sukonstruokPavadinima(grupe.kursas, grupe.grupe, grupe.pogrupis) for grupe in grupes">
        </select>

        <label for="metai" class="sr-only">Metai</label>
        <input type="text" id="metai" class="form-control" placeholder="Metai" required="true" autofocus=""
               ng-model="kontrolinis.metai">

        <label for="menuo" class="sr-only">Mėnuo</label>
        <input type="text" id="menuo" class="form-control" placeholder="Mėnuo" required="true"
               ng-model="kontrolinis.menuo">

        <label for="diena" class="sr-only">Diena</label>
        <input type="text" id="diena" class="form-control" placeholder="Diena" required="true"
               ng-model="kontrolinis.diena">

        <label for="valandos" class="sr-only">Valandos</label>
        <input type="text" id="valandos" class="form-control" placeholder="Valandos" required="true"
               ng-model="kontrolinis.valandos">


        <label for="kabinetas" class="sr-only">Kabinetas</label>
        <input type="text" id="kabinetas" class="form-control" placeholder="Kabinetas" required="true"
               ng-model="kontrolinis.kabinetas">

        <label for="paskaitosPavadinimas" class="sr-only">Paskaitos Pavadinimas</label>
        <textarea type="text" id="paskaitosPavadinimas" class="form-control" placeholder="Paskaitos Pavadinimas" required="true"
                  ng-model="kontrolinis.paskaitosPavadinimas"/>

        <label for="detales" class="sr-only">Detalės</label>
        <textarea type="text" id="detales" class="form-control" placeholder="Detalės" required="true"
                  ng-model="kontrolinis.detales"/>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">OK</button>
        <button class="btn btn-warning" ng-click="cancel()" type="button">Atšaukti</button>
    </div>
</form>
