<div ng-show="klaida" class="alert alert-danger">Vartotojo Nėra! <a href="#/registruotis">Registruotis?</a></div>
<form class="form-group" ng-submit="login()" role="form">
    <h2 class="form-signin-heading">Prašome prisijungti</h2>

    <label for="name" class="sr-only">Vartotojo vardas</label>
    <input type="text" id="name" class="form-control" placeholder="Vartotojo vardas" required="true" autofocus=""
           ng-model="vardas">

    <label for="inputPassword" class="sr-only">Slaptažodis</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Slaptažodis" required="true"
           ng-model="slapt">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Prisijungti</button>
</form>
