<div ng-show="klaida" class="alert alert-danger">Toks vartotojas jau egzistuoja!</div>

<form class="form-group" ng-submit="register()" role="form">
    <h2 class="form-signin-heading">Registracija</h2>

    <label for="name" class="sr-only">Vartotojo vardas</label>
    <input type="text" id="name" class="form-control" placeholder="Vartotojo vardas" required="true" autofocus=""
           ng-model="vardas">

    <label for="inputPassword" class="sr-only">Slaptažodis</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Slaptažodis" required="true"
           ng-model="slapt">

    <label for="realName" class="sr-only">Vardas</label>
    <input type="text" id="realName" class="form-control" placeholder="Vardas" required="true"
           ng-model="tikrasVardas">

    <label for="pavarde" class="sr-only">Pavardė</label>
    <input type="text" id="pavarde" class="form-control" placeholder="Pavardė" required="true"
           ng-model="pavarde">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Registruotis</button>
</form>
