<div class="modal-header">
    <h3 class="modal-title">Visos Dėstytojo Apklausos</h3>
</div>
<div class="modal-body">
    <span us-spinner></span>
    <table class="table table-hover" ng-repeat="apklausa in apklausos">
        <caption >{{apklausa.tekstas}}</caption>
        <tr>
            <th>
                Studentas
            </th>
            <th>
                Atsakymas
            </th>
        </tr>
        <tr ng-repeat="(vardas, atsakymas) in apklausa.atsakymai">
            <td>
                {{vardas}}
            </td>
            <td>
                {{atsakymas}}
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <form>
        <button class="btn btn-warning" ng-click="cancel()" type="button">Uždaryti</button>
    </form>
</div>